<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento de Ingeniería - UNS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body style="margin:0px;padding:0px;">
    <div class="container" style="margin:30px;padding:0px 50px;">
        <div class="row" style="height:35px;"></div>
        <div class="row" style="margin:-1px;padding:1px;height:171px;">
            <div class="col"></div>
            <div class="col d-flex align-self-center" style="margin:195px;"><img class="img-fluid" src="{% static 'core/assets/img/logos/logo-mantenimiento.jpg' %}" style="width:150px;height:128px;margin:8px;padding:-6px;"></div>
            <div class="col" style="width:194px;"></div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="margin:10px ;">Próximamente</h1>
            </div>
        </div>
        <div class="row">
            <div class="col"><p style="padding:10px 90px;color:rgb(14,14,14);">El sitio web del Departamento de Ingeniería estará proximamente en esta dirección url. Por el momento le pedimos que presione sobre este enlace<a href="http://www.uns.edu.ar/deptos/ingenieria"> http://www.uns.edu.ar/deptos/ingenieria</a> para
    acceder al sitio web institucional del Departamento. Muchas gracias.</p></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>